@use "../lib/colour" as c;
@use "../lib/rounding";
@use "../lib/font";
@use "../lib/anim";
@use "../lib/border";

.toolbar-window > * {
    padding: 0;
}

.toolbar {
    @include font.massive;

    & > :first-child {
        border-top-left-radius: rounding.$medium;
        border-bottom-left-radius: rounding.$medium;
    }

    & > :last-child {
        margin: 1px;
        margin-left: 0;
    }
}

.toolbar-drag-area {
    padding-left: 0.476rem;
    padding-right: 0.272rem;
}

.toolbar-button {
    @include anim.element-decel;

    padding: 0.68rem 1.02rem;

    &:last-child {
        border-top-right-radius: rounding.$medium;
        border-bottom-right-radius: rounding.$medium;
    }

    &:hover,
    &:focus {
        background-color: c.$layer0Hover;
    }

    &:active {
        background-color: c.$layer0Active;
    }
}

.toolbar-button-active {
    background-color: c.$primaryContainer;
    color: c.$onPrimaryContainer;

    &:hover,
    &:focus {
        background-color: mix(c.$primaryContainer, c.$primary, 80%);
    }

    &:active {
        background-color: mix(c.$primaryContainer, c.$primary, 90%);
    }
}
