* {
    all: unset;
}

$medium-round: 1.159rem;

.reward-display {
    border-radius: $medium-round;
    -gtk-outline-radius: $medium-round;
    font-family: "Gabarito", "Poppins", "Readex Pro", "Lexend", sans-serif;
    background-color: #131313a2;
    padding: 0.68rem;
}

.reward-name {
    font-size: 1.4545rem;
    margin-bottom: 0.408rem;
}

.reward-price {
    font-weight: 500;
    font-size: 1.6363rem;
    margin-bottom: 0.34rem;

    // Space between plat and ducat displays
    & > :first-child {
        margin-right: 0.68rem;
    }

    // Space between value and icon
    & > * > :first-child {
        margin-right: 0.272rem;
    }
}

.reward-sold {
    font-family: "Rubik", "Geist", "AR One Sans", "Reddit Sans", "Inter", "Roboto", "Ubuntu", "Noto Sans", sans-serif;
    font-size: 1.0909rem;
}

.reward-sold > :first-child {
    margin-bottom: 0.068rem;
}
